body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}
.container {
    max-width: 1000px;
    margin: 40px auto;
    margin-bottom: 16px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 28%);
    border-radius: 20px;
}

@media (max-width: 640px) {
    html, body {
        background-color: #fff;
        max-width: 100%;
        overflow-x: hidden;
    }

    .container {
        margin: 40px auto 8px;
        padding: 8px;
        box-shadow: none;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: #555;
        font-size: 12px !important;
    }

    h1 {
        font-size: 22px !important;
    }

    .tooltip .tooltiptext,
    .tooltip .tooltiptext-right,
    .tooltip .tooltiptext-left {
        visibility: hidden;
        line-height: 150%;
    }

    .tooltip:hover .tooltiptext,
    .tooltip:hover .tooltiptext-right,
    .tooltip:hover .tooltiptext-left {
        font-size: 12px;
    }

    input, select {
        font-size: 12px;
    }

    #language-selector {
        top: 12px !important;
        font-size: 14px;
    }

    .checkbox_label {
        font-size: 16px !important;

    }
}

h1 {
    text-align: center;
    color: #333;
    font-size: 26px;
}

h4 {
    text-align: center;
    color: #333;
    margin-top: 0;
    font-size: 13px;
    font-weight: normal;
}

.required:after {
    content: "*";
    color: red;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 13px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #fff;

}

select {
    padding: 10px;
    padding-right: 20px;
    -moz-appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23555555%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

/* For IE (thanks to @SaiManoj) */
select::-ms-expand {
    display: none;
}

/* button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
} */
button {
    display: block;
    width: 100%;
    padding: 16px;
    background-color: #FF5722;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}
button:disabled, button:disabled:hover {
    background-color: #ffc8b6;
    color: white;
    cursor: not-allowed;
}

button:hover {
    background-color: #c83c12;
}

#result {
    margin-top: 20px;
    position: relative;
}

#result pre {
    background: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    overflow: auto;
}
#copy-button {
    display: block;
    width: 100%;
    padding: 16px;
    background-color: #24b081;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

#copy-button:hover {
    background-color: #188460;
}

.power-states {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.power-states .form-group {
    flex: 1;
}

.levels-inputs {
    display: flex;
    margin-top: 10px;

}

.levels-inputs input {
    width: 100%;
}

.levels-inputs span {
    margin: 0 5px;
    line-height: 35px;
}

.toast {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #24b081;
    color: white;
    padding: 12px;
    border-radius: 16px;
    z-index: 9999;
    opacity: 0;
    animation: fadeInOut 3s ease forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(-20px);
    }

    10% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }

    90% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(-20px);
    }
}

.checkbox-container {
    display: flex;
    align-items: stretch;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 12px;
    height: 24px;
    width: 24px;
    justify-content: flex-start;
}

.checkbox-container label {
    margin-bottom: 0px;
    font-size: 16px;
    align-self: center;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#language-selector {
    position: absolute;
    width: fit-content;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 16px;
    padding: 8px 0px 7px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#language-selector a {
    text-decoration: none;
    cursor: pointer;
    color: #555;
    padding: 8px 10px 8px 12px;
    border-radius: 16px;
}

#language-selector a.active {
    color: rgb(255, 255, 255);
    background-color: #FF5722;
    padding: 8px 12px 8px 12px;
    border-radius: 16px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline dotted #fabfa4;
    -webkit-text-decoration: underline dotted #fabfa4;
    text-underline-offset: 3px;
}

.tooltip .tooltiptext,
.tooltip .tooltiptext-right,
.tooltip .tooltiptext-left {
    visibility: hidden;
    width: 200px;
    font-size: 14px;
    line-height: 150%;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 8px;
    padding: 8px 10px;
    position: absolute;
    z-index: 1;
    bottom: 145%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext {
    left: 50%;
    transform: translateX(-50%);
}

.tooltip .tooltiptext-right {
    left: 50%;
    transform: translateX(-88%);
}

.tooltip .tooltiptext-left {
    left: 50%;
    transform: translateX(-12%);
}

.tooltip .tooltiptext::after,
.tooltip .tooltiptext-right::after,
.tooltip .tooltiptext-left::after {
    content: "";
    position: absolute;
    top: 100%;
    border-width: 7px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip .tooltiptext::after {
    left: 50%;
    transform: translateX(-50%);
}

.tooltip .tooltiptext-right::after {
    right: 10%;
}

.tooltip .tooltiptext-left::after {
    left: 10%;
}

.tooltip:hover .tooltiptext,
.tooltip:focus .tooltiptext,
.tooltip:hover .tooltiptext-right,
.tooltip:focus .tooltiptext-right,
.tooltip:hover .tooltiptext-left,
.tooltip:focus .tooltiptext-left {
    visibility: visible;
    opacity: 0.95;
}

#hover-image {
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
}